html, body {
  margin: 0;
  padding: 0;
  overflow-x: clip;
  font-size: 16px;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  padding: 0.5em 1em 0;
  width: 100vw;
}
header #title .h1-sub {
  margin: -1.6em 0 0.8em;
}
header h1 {
  margin-top: 0;
}
header nav {
  margin: 0 -1em;
  width: 100vw;
  box-sizing: border-box;
  border-width: 1em 0;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
header nav ul li {
  box-sizing: border-box;
  padding: 0.5em 0;
}
header nav ul li a {
  padding: 1em;
}

main {
  padding: 0 1em;
}
main figure {
  max-width: 40%;
  overflow: clip;
}
main figure.left {
  float: left;
  margin: 0 1em 1em 0;
}
main figure.right {
  float: right;
  margin: 0 0 1em 1em;
}
main figure img {
  max-width: 100%;
  min-width: 1em;
}
main iframe.widget {
  min-width: 512px;
}
@media screen and (max-width: 574px), print {
  main iframe.widget {
    min-width: 80vw;
  }
}
main iframe.widget.soundcloud.playlist {
  height: 345px;
}
main #soundcloud-tracks .track iframe.widget.soundcloud {
  min-width: 300px;
  height: initial;
}

/*
  section.project-cards
    article
      a
        figure
          img
        h3
      p
      ul
        li
          span
 */
.project-cards {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 1em;
}
.project-cards article {
  justify-content: center;
  box-sizing: border-box;
  border: 2px ridge #98b5cd;
  border-radius: 4px;
  width: 31.3333333333%;
}
.project-cards article.empty {
  border: none;
}
@media screen and (max-width: 768px), print {
  .project-cards article {
    width: 48%;
  }
}
@media screen and (max-width: 574px), print {
  .project-cards article {
    width: 98%;
  }
}
.project-cards article a {
  position: static;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  height: 100%;
}
.project-cards article a:link, .project-cards article a:hover, .project-cards article a:focus, .project-cards article a:visited {
  color: #304353;
  text-decoration: none;
}
.project-cards article figure {
  flex-grow: 0;
  margin: 0;
  max-width: initial;
  min-height: 56.25%;
}
.project-cards article figure img {
  display: block;
  max-width: initial;
  min-width: initial;
  width: 100%;
}
.project-cards article h3, .project-cards article p, .project-cards article ul {
  margin: 0 1em 1em;
}
.project-cards article h3 {
  margin-top: 1em;
}
.project-cards article p {
  height: 4.5em;
  overflow: clip;
}
.project-cards article div {
  margin: 0 1em 0.7em;
  height: 1.5em;
  overflow: auto clip;
  /*scrollbar-color: $azure transparent;
  scrollbar-width: thin;
  scrollbar-gutter: stable;*/
}
.project-cards article div::-webkit-scrollbar {
  height: 0.2em;
}
.project-cards article div::-webkit-scrollbar-corner, .project-cards article div::-webkit-scrollbar-track {
  background-color: transparent;
}
.project-cards article div::-webkit-scrollbar-thumb {
  background-color: #65849f;
  border-radius: 0.5em;
}
.project-cards article div ul {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.project-cards article div ul li {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #7f9eba;
  border-radius: 1em;
  background: #b3c8db;
  color: #4b657c;
  padding: 0 0.5em;
  margin-left: 0.5em;
}
.project-cards article div ul li:first-child {
  margin-left: 0;
}

#soundcloud-tracks.project-cards article {
  display: flex;
  flex-flow: column nowrap;
}
#soundcloud-tracks.project-cards article h3 {
  background: #f5f5f5;
  margin: 0;
  padding: 0.5em;
}
#soundcloud-tracks.project-cards article iframe.widget.soundcloud {
  min-width: 300px;
}

/*# sourceMappingURL=project-card.css.map */
