@use 'media';

$side-first-length: 8;
$side-second-length: calc(100 - $side-first-length);
$portrait-width: 800px;

@mixin for-portrait {
  @include media.for-width($portrait-width) { @content; }
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  @include for-portrait {
    min-height: auto;
    min-width: 100vw;
  }
}
body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;

  @include for-portrait {
    flex-direction: column;
  }

  header, main, footer {
    padding: 1em;
  }
  header, footer {
    flex-grow: $side-first-length;
    flex-shrink: $side-second-length;
    width: auto;
    height: 100vh;
    min-width: fit-content;

    @include for-portrait {
      padding: 0;
      flex-grow: 0;
      width: 100vw;
      height: auto;
      min-height: fit-content;
    }
  }
  main {
    flex-grow: $side-second-length;
    flex-shrink: $side-first-length;
  }
  header {
    position: sticky;
    top: 0;
    left: 0;

    & > nav {
      line-height: 3em;

      @include for-portrait {
        line-height: normal;
      }

      ul {
        display: block;
        list-style: none;
        padding-inline: 1em;

        @include for-portrait {
          align-self: stretch;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
        }

        li {
          &:first-child {
            margin-top: -1em;
            @include for-portrait {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}