@use 'media';

$widget-min-width: 512px;
$widget-min-width-percent: 80vw;

html, body {
  margin: 0;
  padding: 0;
  overflow-x: clip;
  font-size: 16px;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  padding: .5em 1em 0;
  width: 100vw;

  #title .h1-sub {
    margin: -1.6em 0 .8em;
  }
  h1 {
    margin-top : 0;
  }

  nav {
    margin: 0 -1em;
    width: 100vw;
    box-sizing: border-box;
    border-width: 1em 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;

      li {
        $li-padding: .5em;

        box-sizing: border-box;
        padding: $li-padding 0;

        a {
          padding: $li-padding * 2;
        }
      }
    }
  }
}

main {
  padding: 0 1em;

  figure {
    max-width: 40%;
    overflow: clip;

    &.left {
      float: left;
      margin: 0 1em 1em 0;
    }
    &.right {
      float: right;
      margin: 0 0 1em 1em;
    }

    img {
      max-width: 100%;
      min-width: 1em;
    }
  }

  iframe.widget {
    min-width: $widget-min-width;

    @include media.for-portrait-smaller {
      min-width: $widget-min-width-percent;
    }

    &.soundcloud {
      height: 345px; // shows 4 tracks on a playlist widget
    }
  }
}