$side-first-length: 16;
$side-second-length: 84;

body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1em;
}

header, main, footer {
  padding: 1em;
}

header {
  min-width: 10em;
  flex-grow: $side-first-length;
  flex-shrink: 0;
}
main {
  flex-grow: $side-second-length;
  flex-shrink: $side-first-length;
}