@use 'media';

$side-first-length: 8;
$side-second-length: calc(100 - $side-first-length);
$portrait-width: 800px;

@mixin for-portrait {
  @include media.for-width($portrait-width) { @content; }
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  @include for-portrait {
    min-height: auto;
    min-width: 100vw;
  }
}
body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;

  @include for-portrait {
    flex-direction: column;
  }

  header > nav {
    line-height: 3em;

    @include for-portrait {
      line-height: normal;
    }

    ul {
      list-style: none;
      padding-inline: 1em;
      li {
        &::marker {
          display: none;
        }
      }

      @include for-portrait {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
}

header, main, footer {
  padding: 1em;
}
header, footer {
  flex-grow: $side-first-length;
  flex-shrink: $side-second-length;

  @include for-portrait {
    padding: 0;
    flex-grow: 0;
    max-height: fit-content;
  }
}
main {
  flex-grow: $side-second-length;
  flex-shrink: $side-first-length;
}