@use 'media';

$side-first-length: 20;
$side-second-length: calc(100 - $side-first-length);

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  @include media.for-portrait {
    min-width: 100vw;
  }
}
body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;

  @include media.for-portrait {
    flex-direction: column;
    overflow-x: hidden;
  }

  header {
    flex-grow: 0;
    flex-shrink: 0;
    //height: 100vh;
    width: 6rem;
    max-width: $side-first-length * 1vw;

    @include media.for-portrait {
      padding: 0;
      flex-grow: 0;
      width: 100vw;
      height: auto;
      max-width: stretch;
      min-height: fit-content;
    }
  }
  main {
    flex-grow: $side-second-length;
    /*flex-shrink: $side-first-length;
    max-width: stretch;*/

    @include media.for-portrait {
      max-width: 100vw;
      overflow-x: hidden;
      min-height: max-content;
    }
  }

  header {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;

    @include media.for-portrait {
      height: auto;
    }

    & > nav {

      ul {
        display: block;
        list-style: none;
        margin: 0;
        padding-inline: 0;

        @include media.for-portrait {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: stretch;
        }

        li {
          width: 100%;

          @include media.for-portrait {
            margin: 0;
          }
        }

        a {
          display: block;
          padding: 1em;

          @include media.for-portrait {
            flex-grow: 1;
            text-align: center;
          }
        }
      }
    }
  }

  main {
    h1 {
      margin-top: 0;
    }
    div.h1-sub {
      margin-top: -1.5rem;
      font-size: 1.2rem;
    }
    article {
      figure {
        max-width: 40%;
        overflow: clip;

        &.left {
          float: left;
          margin: 0 1em 1em 0;
        }
        &.right {
          float: right;
          margin: 0 0 1em 1em;
        }

        img {
          max-width: 100%;
          min-width: 1em;
        }
      }
    }
  }
}