html, body {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  padding: 1em 1em 0;

  #title .h1-sub {
    margin: -1.6em 0 .8em;
  }
  h1 {
    margin-top : 0;
  }

  nav {
    margin: 0 -1em;
    width: 100vw;
    box-sizing: border-box;
    border-width: 1em 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;

      li {
        box-sizing: border-box;
        padding: 1em 0;

        a {
          padding: 1em;
        }
      }
    }
  }
}