@use 'media';

$side-first-length: 8;
$side-second-length: calc(100 - $side-first-length);
$main-portrait-height: calc(100 - 14) * 1vh;

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  @include media.for-portrait {
    min-width: 100vw;
  }
}
body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;

  @include media.for-portrait {
    flex-direction: column;
    overflow-x: hidden;
  }

  header, footer {
    //flex-grow: $side-first-length;
    flex-shrink: $side-second-length;
    width: auto;
    height: 100vh;
    min-width: fit-content;

    @include media.for-portrait {
      padding: 0;
      flex-grow: 0;
      width: 100vw;
      height: auto;
      min-height: fit-content;
    }
  }
  main {
    flex-grow: $side-second-length;
    flex-shrink: $side-first-length;
    max-width: $side-second-length * 1vw;

    @include media.for-portrait {
      max-width: 100vw;
      overflow-x: hidden;
      min-height: $main-portrait-height;
    }
  }

  header {
    position: sticky;
    top: 0;
    left: 0;

    & > nav {

      ul {
        display: block;
        list-style: none;
        margin: 0;
        padding-inline: 0;

        @include media.for-portrait {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: stretch;
        }

        li {
          width: 100%;

          @include media.for-portrait {
            margin: 0;
          }
        }

        a {
          display: block;
          padding: 1em;

          @include media.for-portrait {
            flex-grow: 1;
            text-align: center;
          }
        }
      }
    }
  }

  main {

    article {

      h1 {
        margin-top: 0;
      }

      figure {
        max-width: 40%;
        overflow: clip;

        &.left {
          float: left;
          margin: 0 1em 1em 0;
        }
        &.right {
          float: right;
          margin: 0 0 1em 1em;
        }
      }
    }
  }
}