$azure-darkest:    #172028;
$azure-darker:     #304353;
$azure-dark:       #4b657c;
$azure:            #65849f;
$azure-bright:     #7f9eba;
$azure-brighter:   #98b5cd;
$azure-brightest:  #b3c8db;
$azure-tint:       #cfdae4;

$orange-darkest:   #281f17;
$orange-darker:    #534030;
$orange-dark:      #7c624b;
$orange:           #9f8065;
$orange-bright:    #ba9a7f;
$orange-brighter:  #cdb198;
$orange-brightest: #dbc6b3;
$orange-tint:      #e4d9cf;