@use 'palette' as *;
@use 'layout';
@use 'media';

body {
  background: $azure-tint;
  color: $azure-darkest;
}
a {
  &:link, &:hover, &:active, &:visited {
    color: $azure-darker;
    text-decoration: underline;
  }
}
header {
  background: $azure-darker;
  #title {
    color: $azure-tint;
    .h1-sub {
      color: $azure-brighter;
    }
  }
  h1 {

  }
  nav {
    a {
      &:link, &:hover, &:active, &:visited {
        color: $azure-darker;
        text-decoration: none;
      }
    }
    ul {
      background: $azure-dark;
      li {
        border: .25em solid $azure-dark;
        background: $azure-tint;

        &.current {
          border-bottom-color: transparent;
        }

        a {

        }
      }
    }
  }
}