@use 'palette';
@use 'layout';

html, body {
  background: palette.$tint;
  color: palette.$darker;
  font-family: Georgia, serif, "Fira Code", "Courier New";
}
a:link, a:hover, a:focus, a:visited {
  color: palette.$dark;
}
header {
  background: palette.$dark;
  color: palette.$tint;
  & > nav ul {
    a:link, a:hover, a:focus, a:visited {
      color: palette.$tint;
      text-decoration: none;
    }
  }
}
footer {
  background: palette.$darker;
  color: palette.$tint;
}

