@use 'palette' as *;
@use 'layout';
@use 'media';

body {
  background: $azure-tint;
}
header {
  background: $azure-darker;
  #title {
    color: $azure-tint;
    .h1-sub {
      color: $azure-brighter;
    }
  }
  h1 {

  }
  nav {
    ul {
      background: $azure-dark;
      li {
        border: .25em solid $azure-dark;
        background: $azure-tint;

        &.current {
          border-bottom-color: transparent;
        }

        a {

        }
      }
    }
  }
}