@use 'palette' as *;
@use 'layout';
@use 'media';

body {
  background: $azure-tint;
  color: $azure-darkest;
}
a {
  &:link, &:hover, &:active, &:visited {
    color: $azure-darker;
    text-decoration: underline;
  }
}
header {
  background: $azure-darker;
  #title {
    color: $azure-tint;
    .h1-sub {
      color: $azure-brighter;
    }
  }
  h1 {

  }
  nav {
    a {
      &:link, &:hover, &:active, &:visited {
        color: $azure-darker;
        text-decoration: none;
      }
    }
    ul {
      background: $azure-dark;
      li {
        border: .25em solid $azure-dark;
        background: $azure-tint;
        border-radius: .75em .75em 0 0;

        &.current {
          border-bottom-color: transparent;
        }
        &.below {
          background: $azure-dark;
          color: $azure-brightest;

          a {
            &:link, &:hover, &:active, &:visited {
              color: $azure-tint;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

main {
  hr {
    border-color: $azure-brighter $azure-brightest $azure-brightest $azure-brighter;
  }
}