@use 'palette' as *;
@use 'layout';
@use 'media';

/*
  section.project-cards
    article
      a
        figure
          img
        h3
      p
      ul
        li
          span
 */

.project-cards {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 1em;

  article {
    $round-radius: 4px;
    $height-16-9: calc(9/16 * 100) * 1%;
    justify-content: center;
    box-sizing: border-box;
    border: $round-radius / 2 ridge $azure-brighter;
    border-radius: $round-radius;
    width: calc(100/3 - 2) * 1%;

    &.empty {
      border: none;
    }

    @include media.for-portrait {
      width: calc(100/2 - 2) * 1%;
    }
    @include media.for-portrait-smaller {
      width: calc(100/1 - 2) * 1%;
    }

    a {
      position: static;
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      height: 100%;
      &:link, &:hover, &:focus, &:visited {
        color: $azure-darker;
        text-decoration: none;
      }
    }

    figure {
      flex-grow: 0;
      margin: 0;
      max-width: initial;
      min-height: $height-16-9;

      img {
        display: block;
        max-width: initial;
        min-width: initial;
        width: 100%;
      }
    }

    h3, p, ul {
      margin: 0 1em 1em;
    }
    h3 {
      margin-top: 1em;
    }
    p {
      height: 4.5em;
      overflow: clip;
    }
    div {
      $scrollbar-height: .2em;

      margin: 0 1em (.9em - $scrollbar-height);
      height: 1.5em;
      overflow: auto clip;

      /*scrollbar-color: $azure transparent;
      scrollbar-width: thin;
      scrollbar-gutter: stable;*/
      &::-webkit-scrollbar {
        height: $scrollbar-height;
      }
      &::-webkit-scrollbar-corner,
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $azure;
        border-radius: .5em;
      }

      ul {
        display: flex;
        flex-flow: row nowrap;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          box-sizing: border-box;
          border: 1px solid $azure-bright;
          border-radius: 1em;
          background: $azure-brightest;
          color: $azure-dark;
          padding: 0 .5em;
          margin-left: .5em;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

#soundcloud-tracks.project-cards {
  article {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;

    h3 {
      background: #f5f5f5;
      margin: 0;
      padding: 0.5em;
    }
    iframe.widget.soundcloud {
      min-width: 227px;
      align-self: stretch;
    }
  }
}