  <meta content="text/html" http-equiv="content-type">
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/x-icon" href="{{ site.data.author.favicon }}">
  <meta name="theme-color" content="{{ site.data.author.color }}">

  <meta property="og:title" content="{{ page.title }}">
  <meta name="author" content="{{ site.data.author.name }}">
  <meta name="description" content="{{ page.description }}">
  <meta property="og:description" content="{{ page.description }}">
  <link rel="canonical" href="{{ site.data.author.address }}">
  <meta property="og:url" content="{{ site.data.author.address }}">
  <!--<meta property="og:image" content="{{ site.data.author.address }}{{ site.data.author.og-image }}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1280">
  <meta property="og:image:height" content="640">-->

  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <link rel="alternate" type="application/json+oembed" href="{{ site.data.author.address }}/oembed.json">

  <meta name="viewport" content="width=400, initial-scale=1, viewport-fit=cover">
  <!--meta name="google-site-verification" content=""-->

  <link rel="stylesheet" href="./stylesheet/main.css">
  <script src="./script/util.js"></script>
